@using System.Activities.Statements
@using icrm.Models;
@{
    Layout = null;
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="feedback managment system.">
    <meta name="author" content="feedback">
    <title>Feedback</title>
    <!-- vendor css -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="~/Content/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- Slim CSS -->
    <link rel="stylesheet" href="~/Content/css/slim.css">
</head>
<body>
    <div class="slim-header">
        <div class="container">
            <div class="slim-header-left">
                <h2 class="slim-logo"><a href="index.html">Feedback<span>.</span></a></h2>
                <div class="search-box">
                    <input type="text" class="form-control" placeholder="Search">
                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div><!-- search-box -->
            </div><!-- slim-header-left -->
            <div class="slim-header-right">
                <div class="dropdown dropdown-a">
                    <a href="default.htm" class="header-notification" data-toggle="dropdown">
                        <i class="icon ion-ios-bolt-outline"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-menu-header">
                            <h6 class="dropdown-menu-title">Activity Logs</h6>
                            <div>
                                <a href="default.htm">Filter List</a>
                                <a href="default.htm">Settings</a>
                            </div>
                        </div><!-- dropdown-menu-header -->
                        <div class="dropdown-activity-list">
                            <div class="activity-label">Today, December 13, 2017</div>
                            <div class="activity-item">
                                <div class="row no-gutters">
                                    <div class="col-2 tx-right">10:15am</div>
                                    <div class="col-2 tx-center"><span class="square-10 bg-success"></span></div>
                                    <div class="col-8">Purchased christmas sale cloud storage</div>
                                </div><!-- row -->
                            </div><!-- activity-item -->
                            <div class="activity-item">
                                <div class="row no-gutters">
                                    <div class="col-2 tx-right">9:48am</div>
                                    <div class="col-2 tx-center"><span class="square-10 bg-danger"></span></div>
                                    <div class="col-8">Login failure</div>
                                </div><!-- row -->
                            </div><!-- activity-item -->
                            <div class="activity-item">
                                <div class="row no-gutters">
                                    <div class="col-2 tx-right">7:29am</div>
                                    <div class="col-2 tx-center"><span class="square-10 bg-warning"></span></div>
                                    <div class="col-8">(D:) Storage almost full</div>
                                </div><!-- row -->
                            </div><!-- activity-item -->
                            <div class="activity-item">
                                <div class="row no-gutters">
                                    <div class="col-2 tx-right">3:21am</div>
                                    <div class="col-2 tx-center"><span class="square-10 bg-success"></span></div>
                                    <div class="col-8">1 item sold <strong>Christmas bundle</strong></div>
                                </div><!-- row -->
                            </div><!-- activity-item -->
                            <div class="activity-label">Yesterday, December 12, 2017</div>
                            <div class="activity-item">
                                <div class="row no-gutters">
                                    <div class="col-2 tx-right">6:57am</div>
                                    <div class="col-2 tx-center"><span class="square-10 bg-success"></span></div>
                                    <div class="col-8">Earn new badge <strong>Elite Author</strong></div>
                                </div><!-- row -->
                            </div><!-- activity-item -->
                        </div><!-- dropdown-activity-list -->
                        <div class="dropdown-list-footer">
                            <a href="page-activity.html"><i class="fa fa-angle-down"></i> Show All Activities</a>
                        </div>
                    </div><!-- dropdown-menu-right -->
                </div><!-- dropdown -->
                <div class="dropdown dropdown-b">
                    <a href="default.htm" class="header-notification" data-toggle="dropdown">
                        <i class="icon ion-ios-bell-outline"></i>
                        <span class="indicator"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-menu-header">
                            <h6 class="dropdown-menu-title">Notifications</h6>
                            <div>
                                <a href="default.htm">Mark All as Read</a>
                                <a href="default.htm">Settings</a>
                            </div>
                        </div><!-- dropdown-menu-header -->
                        <div class="dropdown-list">
                            <!-- loop starts here -->
                            <a href="default.htm" class="dropdown-link">
                                <div class="media">
                                    <img src="../resources/img/img8.jpg" alt="">
                                    <div class="media-body">
                                        <p><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                                        <span>October 03, 2017 8:45am</span>
                                    </div>
                                </div><!-- media -->
                            </a>
                            <!-- loop ends here -->
                            <a href="default.htm" class="dropdown-link">
                                <div class="media">
                                    <img src="../resources/img/img9.jpg" alt="">
                                    <div class="media-body">
                                        <p><strong>Mellisa Brown</strong> appreciated your work <strong>The Social Network</strong></p>
                                        <span>October 02, 2017 12:44am</span>
                                    </div>
                                </div><!-- media -->
                            </a>
                            <a href="default.htm" class="dropdown-link read">
                                <div class="media">
                                    <img src="../resources/img/img10.jpg" alt="">
                                    <div class="media-body">
                                        <p>20+ new items added are for sale in your <strong>Sale Group</strong></p>
                                        <span>October 01, 2017 10:20pm</span>
                                    </div>
                                </div><!-- media -->
                            </a>
                            <a href="default.htm" class="dropdown-link read">
                                <div class="media">
                                    <img src="../resources/img/img2.jpg" alt="">
                                    <div class="media-body">
                                        <p><strong>Julius Erving</strong> wants to connect with you on your conversation with <strong>Ronnie Mara</strong></p>
                                        <span>October 01, 2017 6:08pm</span>
                                    </div>
                                </div><!-- media -->
                            </a>
                            <div class="dropdown-list-footer">
                                <a href="page-notifications.html"><i class="fa fa-angle-down"></i> Show All Notifications</a>
                            </div>
                        </div><!-- dropdown-list -->
                    </div><!-- dropdown-menu-right -->
                </div><!-- dropdown -->
                <div class="dropdown dropdown-c">
                    <a href="#" class="logged-user" data-toggle="dropdown">
                        <img src="../resources/img/img1.jpg" alt="">
                        <span>Katherine</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <nav class="nav">
                            <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                            <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                            <a href="page-activity.html" class="nav-link"><i class="icon ion-ios-bolt"></i> Activity Log</a>
                            <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>
                            <a href="page-signin.html" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
                        </nav>
                    </div><!-- dropdown-menu -->
                </div><!-- dropdown -->
            </div><!-- header-right -->
        </div><!-- container -->
    </div><!-- slim-header -->
    <div class="slim-navbar">
        <div class="container">
            <ul class="nav">
                <li class="nav-item with-sub">
                    <a class="nav-link" href="#">
                        <i class="icon ion-ios-home-outline"></i>
                        <span>Dashboard</span>
                    </a>
                    <div class="sub-item">
                        <ul>
                            <li><a href="index.html">Dashboard 01</a></li>
                            <li><a href="index2.html">Dashboard 02</a></li>
                            <li><a href="index3.html">Dashboard 03</a></li>
                            <li><a href="index4.html">Dashboard 04</a></li>
                            <li><a href="index5.html">Dashboard 05</a></li>
                        </ul>
                    </div><!-- sub-item -->
                </li>
                <li class="nav-item with-sub mega-dropdown">
                    <a class="nav-link" href="#">
                        <i class="icon ion-ios-filing-outline"></i>
                        <span>UI Elements</span>
                    </a>
                    <div class="sub-item">
                        <div class="row">
                            <div class="col-lg-5">
                                <label class="section-label">Basic Elements</label>
                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <li><a href="elem-accordion.html">Accordion</a></li>
                                            <li><a href="elem-alerts.html">Alerts</a></li>
                                            <li><a href="elem-buttons.html">Buttons</a></li>
                                            <li><a href="elem-cards.html">Cards</a></li>
                                            <li><a href="elem-carousel.html">Carousel</a></li>
                                            <li><a href="elem-dropdowns.html">Dropdown</a></li>
                                            <li><a href="elem-icons.html">Icons</a></li>
                                            <li><a href="elem-images.html">Images</a></li>
                                            <li><a href="elem-lists.html">Lists</a></li>
                                        </ul>
                                    </div><!-- col -->
                                    <div class="col-lg">
                                        <ul>
                                            <li><a href="elem-modal.html">Modal</a></li>
                                            <li><a href="elem-media.html">Media Object</a></li>
                                            <li><a href="elem-navigation.html">Navigation</a></li>
                                            <li><a href="elem-pagination.html">Pagination</a></li>
                                            <li><a href="elem-tooltip.html">Tooltip</a></li>
                                            <li><a href="elem-popover.html">Popover</a></li>
                                            <li><a href="elem-progress.html">Progress</a></li>
                                            <li><a href="elem-spinner.html">Spinner</a></li>
                                            <li><a href="elem-typography.html">Typography</a></li>
                                        </ul>
                                    </div><!-- col -->
                                </div><!-- row -->
                            </div><!-- col -->
                            <div class="col-lg mg-t-30 mg-lg-t-0">
                                <label class="section-label">Charts</label>
                                <ul>
                                    <li><a href="chart-morris.html">Morris Charts</a></li>
                                    <li><a href="chart-flot.html">Flot Charts</a></li>
                                    <li><a href="chart-chartjs.html">ChartJS</a></li>
                                    <li><a href="chart-echarts.html">ECharts</a></li>
                                    <li><a href="chart-chartist.html">Chartist</a></li>
                                    <li><a href="chart-rickshaw.html">Rickshaw</a></li>
                                    <li><a href="chart-sparkline.html">Sparkline</a></li>
                                    <li><a href="chart-peity.html">Peity</a></li>
                                </ul>
                            </div><!-- col -->
                            <div class="col-lg mg-t-30 mg-lg-t-0">
                                <label class="section-label">Maps</label>
                                <ul>
                                    <li><a href="map-google.html">Google Maps</a></li>
                                    <li><a href="map-leaflet.html">Leaflet Maps</a></li>
                                    <li><a href="map-vector.html">Vector Maps</a></li>
                                </ul>
                                <label class="section-label mg-t-20">Tables</label>
                                <ul>
                                    <li><a href="table-basic.html">Basic Table</a></li>
                                    <li><a href="table-datatable.html">Data Table</a></li>
                                </ul>
                            </div><!-- col -->
                            <div class="col-lg mg-t-30 mg-lg-t-0">
                                <label class="section-label">Helper / Utilities</label>
                                <ul>
                                    <li><a href="util-background.html">Background</a></li>
                                    <li><a href="util-border.html">Border</a></li>
                                    <li><a href="util-height.html">Height</a></li>
                                    <li><a href="util-margin.html">Margin</a></li>
                                    <li><a href="util-padding.html">Padding</a></li>
                                    <li><a href="util-position.html">Position</a></li>
                                    <li><a href="util-typography.html">Typography</a></li>
                                    <li><a href="util-width.html">Width</a></li>
                                </ul>
                            </div><!-- col -->
                        </div><!-- row -->
                    </div><!-- dropdown-menu -->
                </li>
                <li class="nav-item with-sub">
                    <a class="nav-link" href="#">
                        <i class="icon ion-ios-book-outline"></i>
                        <span>Pages</span>
                    </a>
                    <div class="sub-item">
                        <ul>
                            <li><a href="page-profile.html">Profile Page</a></li>
                            <li><a href="page-invoice.html">Invoice</a></li>
                            <li><a href="page-contact.html">Contact Manager</a></li>
                            <li><a href="page-file-manager.html">File Manager</a></li>
                            <li><a href="page-calendar.html">Calendar</a></li>
                            <li><a href="page-timeline.html">Timeline</a></li>
                            <li class="sub-with-sub">
                                <a href="#">Pricing</a>
                                <ul>
                                    <li><a href="page-pricing.html">Pricing 01</a></li>
                                    <li><a href="page-pricing2.html">Pricing 02</a></li>
                                    <li><a href="page-pricing3.html">Pricing 03</a></li>
                                </ul>
                            </li>
                            <li class="sub-with-sub">
                                <a href="page-signin.html">Sign In</a>
                                <ul>
                                    <li><a href="page-signin.html">Signin Simple</a></li>
                                    <li><a href="page-signin2.html">Signin Split</a></li>
                                </ul>
                            </li>
                            <li class="sub-with-sub">
                                <a href="page-signup.html">Sign Up</a>
                                <ul>
                                    <li><a href="page-signup.html">Signup Simple</a></li>
                                    <li><a href="page-signup2.html">Signup Split</a></li>
                                </ul>
                            </li>
                            <li class="sub-with-sub">
                                <a href="#">Error Pages</a>
                                <ul>
                                    <li><a href="page-404.html">404 Not Found</a></li>
                                    <li><a href="page-505.html">505 Forbidden</a></li>
                                    <li><a href="page-500.html">500 Internal Server</a></li>
                                    <li><a href="page-503.html">503 Service Unavailable</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- dropdown-menu -->
                </li>
                <li class="nav-item with-sub">
                    <a class="nav-link" href="#" data-toggle="dropdown">
                        <i class="icon ion-ios-gear-outline"></i>
                        <span>Forms</span>
                    </a>
                    <div class="sub-item">
                        <ul>
                            <li><a href="form-elements.html">Form Elements</a></li>
                            <li><a href="form-layouts.html">Form Layouts</a></li>
                            <li><a href="form-validation.html">Form Validation</a></li>
                            <li><a href="form-wizards.html">Form Wizards</a></li>
                            <li><a href="form-editor.html">WYSIWYG Editor</a></li>
                            <li><a href="form-select2.html">Select2</a></li>
                            <li><a href="form-rangeslider.html">Range Slider</a></li>
                            <li><a href="form-datepicker.html">Datepicker</a></li>
                        </ul>
                    </div><!-- dropdown-menu -->
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="page-messages.html">
                        <i class="icon ion-ios-chatboxes-outline"></i>
                        <span>Messages</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="widgets.html">
                        <i class="icon ion-ios-analytics-outline"></i>
                        <span>Widgets</span>
                    </a>
                </li>
            </ul>
        </div><!-- container -->
    </div><!-- slim-navbar -->
    <div class="slim-mainpanel">
        <div class="container container-messages">
        @if (ViewBag.Friends != null)
        {
            <div class="messages-left">
                <div class="slim-pageheader">
                    <h6 class="slim-pagetitle">Messages</h6>
                    <a href="default.htm" class="messages-compose"><i class="icon ion-compose"></i></a>
                </div><!-- slim-pageheader -->
                <div class="messages-list clk">

                    @foreach (var item in ViewBag.Friends)
                    {
                    <a href="#" class="media" id="chatlist@(item.UserName)">
                        <div class="media-left">
                            <img src="../resources/img/img2.jpg" alt="">
                            <span class="square-10 bg-success"></span>
                        </div><!-- media-left -->
                        <div class="media-body">
                            <div>
                                <h6>@item.UserName</h6>
                                <p id="latestmsg@(item.UserName)">The new common language will be more simple and regular...</p>
                            </div>
                            <div id="msgCount@(item.UserName)">
                                <span>Dec 14</span>
                            </div>
                        </div><!-- media-body -->
                    </a>
                    }

                    <!-- media -->
                </div><!-- messages-list -->
                <div class="messages-left-footer">
                    <button class="btn btn-slim btn-uppercase-sm btn-block">Load Older Messages</button>
                </div><!-- messages-left-footer -->
            </div>

        }<!-- messages-left -->
            <div class="messages-right d-none d-lg-block" style="left: 0px;">
                <div class="message-header" >
                    <a href="default.htm" class="message-back"><i class="fa fa-angle-left"></i></a>
                    <div class="media">
                       <img src="../resources/img/img4.jpg" alt="">
                        <div class="media-body">
                            <h6 id="currentusername">HR Department</h6>
                            <p>Last seen: 2 hours ago</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="message-option">
                        <div class="d-none d-sm-flex">
                            <a href="default.htm"><i class="icon ion-ios-telephone-outline"></i></a>
                            <a href="default.htm"><i class="icon ion-ios-videocam-outline"></i></a>
                            <a href="default.htm"><i class="icon ion-ios-gear-outline"></i></a>
                            <a href="default.htm"><i class="icon ion-ios-information-outline"></i></a>
                        </div>
                        <div class="d-sm-none">
                            <a href="default.htm"><i class="icon ion-more"></i></a>
                        </div>

                    </div>
                </div><!-- message-header -->
                <div class="message-body">
                    <div class="media-list">
                        <!--<div class="media">
                            <img src="../resources/img/img1.jpg" alt="">
                            <div class="media-body">
                                <div class="msg">
                                    <p>Hi, there?</p>
                                </div>
                                <div class="msg">
                                    <p>Are you ready for our party tonight?</p>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body reverse">
                                <div class="msg">
                                    <p>So this is where you plan to do it?</p>
                                </div>
                            </div>
                            <img src="../resources/img/img4.jpg" class="wd-50 rounded-circle" alt="">
                        </div>
                        <div class="media">
                            <img src="../resources/img/img1.jpg" alt="">
                            <div class="media-body">
                                <div class="msg">
                                    <p>As good a place as any.</p>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body reverse">
                                <div class="msg">
                                    <p>At least have the balls to call this what it is: murder. You really believe if you walk back onto that farm alone, no me, no Randall... </p>
                                </div>
                                <div class="msg">
                                    <p>You really believe they're gonna buy whatever bullshit story you cook up?</p>
                                </div>
                            </div>
                            <img src="../resources/img/img4.jpg" class="wd-50 rounded-circle" alt="">
                        </div>
                        <div class="media">
                            <img src="../resources/img/img1.jpg" alt="">
                            <div class="media-body">
                                <div class="msg">
                                    <p>That's just it, it ain't no story. I saw that prisoner shoot you down. I ran after him, I snapped his neck. It ain't gonna be easy, but Lori and Carl, they'll get over you. They done it before. They just gonna have to.</p>
                                </div>
                            </div>
                        </div>-->
                    </div><!-- media-list -->
                </div><!-- message-body -->
                <div class="message-footer">
                    <div class="row row-sm">
                        <div class="col-9 col-sm-8 col-xl-9">
                            <input type="text" id="txtmsg" class="form-control" placeholder="Type something here...">
                        </div><!-- col-8 -->
                        <div class="col-3 col-sm-4 col-xl-3 tx-right">
                            <div class="d-none d-sm-block">
                                <a href="default.htm"><i class="icon ion-happy-outline"></i></a>
                                <a href="default.htm"><i class="icon ion-ios-game-controller-b-outline"></i></a>
                                <a href="default.htm"><i class="icon ion-ios-camera-outline"></i></a>
                                <a href="default.htm"><i class="icon ion-ios-mic-outline"></i></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="default.htm"><i class="icon ion-more"></i></a>
                                <p id="c">@HttpContext.Current.User.Identity.Name</p>
                                <input type="hidden" id="chatId" value=""/>
                            </div>
                        </div><!-- col-4 -->
                    </div><!-- row -->
                </div><!-- message-footer -->
            </div><!-- messages-right -->
        </div><!-- container -->
    </div><!-- slim-mainpanel -->
<script src="~/Content/lib/jquery/js/jquery.js"></script>
<script src="~/Content/lib/popper.js/js/popper.js"></script>
<script src="~/Content/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/Content/lib/jquery.cookie/js/jquery.cookie.js"></script>
<script src="~/Content/lib/d3/js/d3.js"></script>
<script src="~/Content/lib/rickshaw/js/rickshaw.min.js"></script>
<script src="~/Content/lib/Flot/js/jquery.flot.js"></script>
<script src="~/Content/lib/Flot/js/jquery.flot.resize.js"></script>
<script src="~/Content/lib/peity/js/jquery.peity.js"></script>
<script src="~/Content/js/slim.js"></script>
<script src="~/Content/js/ResizeSensor.js"></script>
<script src="~/Content/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>

<script>
    $(function(){
        'use script';
        console.log($('.messages-list, .message-body').length+'--------------')
        if ($('.messages-list, .message-body').length > 0) {
            const ps = $('.messages-list, .message-body').perfectScrollbar();
        
            console.log(ps);
            //  $('.messages-list, .message-body').scrollTop(1000).perfectScrollbar('update');
            $('.messages-list, .message-body').scrollTop($(".media-list").prop("scrollHeight"));
      
      
            $(".ps__scrollbar-y ").css({"width": "9px"});

            $('.messages-list .media').on('click', function(e) {
                e.preventDefault();
                $('.messages-right').removeClass('d-none');
            });

            $('.message-back').on('click', function(e) {
                e.preventDefault();
                $('.messages-right').addClass('d-none');
            });
            }
        });

    
    $(document).ready(function() {
        $(document).on('click',
            '.media',
            function(e) {
                console.log('in event ');
                e.preventDefault();
                console.log($(this).find('h6').text());
                console.log($(this).find('img').attr('src'));

                $('.messages-right').find('h6').text($(this).find('h6').text());
                $('.messages-right').find('img').prop('src', $(this).find('img').attr('src'));
            });

      
    
    });

    
</script>
    <script type="text/javascript">
        $(document).ready(function() {
            var msgStore = {};
            $("#txtmsg").keypress(function(event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    send();
                }
            });
            //getmyfriends();

            @*function getmyfriends() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("friendlist")",
                    contentType: "application/json; charset=utf-8",
                    data: '{}',
                    dataType: "json",
                    success: function(r) {
                        var ddlfrined = $("[id*=ddlfriend]");
                        // ddlfrined.empty().append('<option selected="selected" value="0">select</option>');
                        for (var i = 0; i < r.length; i++) {
                            ddlfrined.append($("<option></option>").val(r[i].Value).html(r[i].Text));
                        }
                    },
                    error: function(r) {
                        alert("error");
                    }
                });
            }*@

            setInterval(function() {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        data: '{}',
                        url: "@Url.Action("receive")",
                        dataType: "json",
                        success: function (response) {
                            console.log("response Text for User-----" + response.Text);
                            
                            $('.media-list')
                                .append(
                                    '<div class="media"><div class="media-body"><div class="msg"><p>' + response.Text + '</p></div></div></div>');
                            $('.messages-list, .message-body').scrollTop($(".media-list").prop("scrollHeight"));


                            /*console.log($('#chatlist' + sender + '.media'));
                            console.log('sender is here ' + $('#chatlist'+sender+'.media').length > 0 + '===and is active ' + $('.activechat').attr('id') == 'chatlist'+sender);

                            if ($('#chatlist' + sender + '.media').length > 0 && $('.activechat').attr('id') == 'chatlist' + sender) {
                                console.log('sender is here and is active')
                                $('.media-list')
                                    .append(
                                        '<div class="media"><div class="media-body"><div class="msg"><p>' + message + '</p></div></div></div>');
                                $('.messages-list, .message-body').scrollTop($(".media-list").prop("scrollHeight"));
                            }
                            else {
                                console.log('sender is here ' + $('#chatlist' + sender + '.media').length > 0 + '===but  is not active ' + $('.activechat').attr('id') == 'chatlist' + sender);

                                if ($('#chatlist' + sender + '.media').length > 0 &&
                                    $('.activechat').attr('id') != 'chatlist' + sender) {

                                    console.log(msgStore[sender]+"-----sender is here but is not active")
                                    if (msgStore[sender] == null) {
                                        console.log('sender is null')
                                        msgStore[sender] = [];
                                        msgStore[sender].push(message);
                                        if ($('#msgCount' + sender + '>span').length < 2) {
                                            $('#msgCount' + sender).append('<span>' + msgStore[sender].length + '</span>');
                                            $('#latestmsg' + sender).text(message);
                                        } else {
                                            $('#msgCount' + sender).children('span').eq(1).text(msgStore[sender].length);
                                            $('#latestmsg' + sender).text(message);

                                        }
                                    } else {
                                        console.log('sender is not null so pushing messages')
                                        msgStore[sender].push(message);
                                        $('#msgCount' + sender).children('span').eq(1).text(msgStore[sender].length);
                                        $('#latestmsg' + sender).text(message);

                                    }
                                } else {
                                    console.log('sender is not in chatlist')
                                
                                    msgStore[sender] = [];
                                    msgStore[sender].push(message);
                                    $('.messages-list').prepend('<a href="#" class="media" id="chatlist' + sender + '"><div class="media-left"><img src="../resources/img/img2.jpg" alt=""><span class="square-10 bg-success"></span></div><div class="media-body"><div><h6>' + sender + '</h6><p id="latestmsg"'+sender+'>' + message + '</p></div><div id="msgCount' + sender +'"><span>Dec 14</span><span>'+msgStore[sender].length+'</span></div></div></a>');
                                }
                    
                            }*/
                        },
                        error:function (response) {
                            console.log('==error in response of user===')
                        }
                    
                    });

                
              
            }, 2000);
            function send() {
                var message = $("#txtmsg").val();
                var data = $("#divmsg").html();
                //$("#divmsg").html(data + "<br>Me:" + message);
                var newmsg = '<div class="media"><div class="media-body reverse"><div class="msg"><p>'+message+'</p></div></div></div>'
                $('.media-list').append(newmsg);
                $('.messages-list, .message-body').scrollTop($(".media-list").prop("scrollHeight"));
                newmsg = false;
                $("#txtmsg").val("");
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: '{"text":"' + message + '","chatId":"'+$('#chatId').val()+'"}',
                    url: "@Url.Action("sendmsg")",
                    dataType: "json",
                    success: function (response) {
                        $('#chatId').val('response');
                    },
                    error: function (response) {

                    }
                });
            }

            //$('a.media').click(function () {
            //    $('.media-list').empty();
            //    $('.activechat').removeClass('activechat');
            //    $(this).addClass('activechat');
            //    $('.messages-right').attr('style', '');
            //    var sender = $(this).find('h6').html();
            //    var messages = msgStore[sender];
            //    console.log('messages----' + messages);
            //    for (var i = 0;i < messages.length; i++)
            //    {
            //        $('.media-list')
            //            .append(
            //                '<div class="media"><div class="media-body"><div class="msg"><p>' + messages[i] + '</p></div></div></div>');
                    
            //    }
            //    msgStore[sender] = [];
            //    $('#msgCount' + sender + ' span:last').remove();
            //});
        });
    </script>
</body>
