@model icrm.Models.RegisterViewModel
@{
    Layout = null;

}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Meta -->
    <meta name="description" content="feedback managment system.">
    <meta name="author" content="feedback">

    <title>ICRM 2.0</title>

    <!-- vendor css -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="~/Content/lib/jquery-toggles/css/toggles-full.css" rel="stylesheet">
    <link href="~/Content/lib/jt.timepicker/css/jquery.timepicker.css" rel="stylesheet">
    <link href="~/Content/lib/spectrum/css/spectrum.css" rel="stylesheet">
    <link href="~/Content/lib/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Feadback CSS -->
    <link rel="stylesheet" href="~/Content/css/slim.css">

</head>
<body>
     @Html.Partial("_AdminMenu")

    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add  ICRM Agent</li>
                </ol>
                <h6 class="slim-pagetitle">Add ICRM Agent</h6>
            </div><!-- slim-pageheader -->

            <div class="section-wrapper">
                <label class="section-title">Add ICRM Agent</label>
                <span style="color:green;">@ViewBag.message</span> 

                @Html.ValidationSummary()
                @using (Html.BeginForm("postUser", "Admin", FormMethod.Post, null))
                {

                    @Html.AntiForgeryToken()

                    <input type="hidden" name="rolename" value="@ViewBag.rolename"/>

                    <div class="form-layout">
                        <div class="row mg-b-25">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Salutation: <span class="tx-danger">*</span></label>
                                    <select class="form-control select2" data-placeholder="Choose country">
                                        <option label="Choose"></option>
                                        <option value="">Mr</option>
                                        <option value="">Miss</option>
                                        <option value="">Mrs</option>
                                        <option value="">Mdm</option>
                                        <option value="">Dr</option>
                                    </select>
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">@Resources.Resource.Employee_Id<span class="tx-danger">*</span></label>
                                    @Html.TextBoxFor(x => x.EmployeeId, new { @class = "form-control", placeholder = "Enter EmployeeID" })

                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">@Resources.Resource.FirstName <span class="tx-danger">*</span></label>
                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = " Enter Firstname" })
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">@Resources.Resource.LastName<span class="tx-danger">*</span></label>
                                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Enter Lastname" })
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">@Resources.Resource.Email_Id <span class="tx-danger">*</span></label>
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = " Enter Email" })
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">@Resources.Resource.Phone_No<span class="tx-danger">*</span></label>
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", placeholder = "Contact Number" })
                                </div>
                            </div><!-- col-4 -->

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Password: <span class="tx-danger">*</span></label>
                                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Confirm Password: <span class="tx-danger">*</span></label>
                                    @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                </div>
                            </div><!-- col-4 -->
                            @if(ViewBag.rolename == "Department"){
                            <div class="col-sm">
                                @Html.DropDownListFor(m => m.DepartmentId,
                                    new SelectList(ViewBag.DepartmentList,
                                       "Id", "name"),Resources.Resource.Select_Department, new { @class = "form-control select2", @id="location"})
                            </div>
                            }


                        </div><!-- row -->

                        <div class="form-layout-footer">
                            <button class="btn btn-primary bd-0">@Resources.Resource.Submit</button>
                            <button class="btn btn-secondary bd-0">@Resources.Resource.Cancel</button>
                        </div><!-- form-layout-footer -->
                    </div>
                }


                </div><!-- container -->
        </div><!-- slim-mainpanel -->

        @Html.Partial("_AdminFooter")
</body>
</html>








