@model IEnumerable<icrm.Models.ApplicationUser>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Meta -->
    <meta name="description" content="feedback managment system.">
    <meta name="author" content="feedback">

    <title>User List</title>

    <!-- vendor css -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="~/Content/lib/jquery-toggles/css/toggles-full.css" rel="stylesheet">
    <link href="~/Content/lib/jt.timepicker/css/jquery.timepicker.css" rel="stylesheet">
    <link href="~/Content/lib/spectrum/css/spectrum.css" rel="stylesheet">
    <link href="~/Content/lib/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Feadback CSS -->
    <link rel="stylesheet" href="~/Content/css/slim.css">

</head>

<body>
     @Html.Partial("_AdminMenu")
    <!-- slim-navbar -->

    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">List Users</li>
                </ol>
                <h6 class="slim-pagetitle">User List</h6>
            </div>
            <!-- slim-pageheader -->

            

            <div class="row row-xs mg-t-10">
                <div class="col-lg-12">
                    <div class="card card-table">
                        <div class="card-header">
                            <h6 class="slim-card-title">User List</h6>
                        </div>
                        <!-- card-header -->
                        <div class="table-responsive">
                            <table class="table mg-b-0 tx-13">
                                <thead>
                                    <tr class="tx-10">
                                        <th class="wd-10p pd-y-5">Employee ID</th>
                                        <th class="pd-y-5">FirstName</th>
                                        <th class="pd-y-5">Last Name</th>
                                        <th class="pd-y-5">Email</th>
                                        <th class="pd-y-5">Phone Number</th>
                                        <th class="pd-y-5">Status</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="pd-l-20">
                                                @Html.DisplayFor(modelItem => item.EmployeeId)
                                            </td>
                                            <td>
                                                <a href="default.htm" class="tx-inverse tx-14 tx-medium d-block"> @Html.DisplayFor(modelItem => item.FirstName)</a>
                                                
                                            </td>
                                            <td class="tx-12 text-center">
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>  @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                            <td>Active</td>
                                           
                                        </tr>
                                       
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive -->


                        <div class="pagination-wrapper">
                            <ul class="pagination pagination-circle mg-b-0">
                                <li class="page-item hidden-xs-down">
                                    <a class="page-link" href="#" aria-label="First"><i class="fa fa-angle-double-left"></i></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item hidden-xs-down"><a class="page-link" href="#">3</a></li>
                                <li class="page-item hidden-xs-down"><a class="page-link" href="#">4</a></li>
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link" href="#">10</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a>
                                </li>
                                <li class="page-item hidden-xs-down">
                                    <a class="page-link" href="#" aria-label="Last"><i class="fa fa-angle-double-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- pagination-wrapper -->



                    </div>
                    <!-- card -->
                </div>
                <!-- col-6 -->

            </div>
            <!-- container -->
        </div>
        <!-- slim-mainpanel -->
@Html.Partial("_AdminFooter")
</body>

</html>



   
