
@model icrm.Models.EmployerTypeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Meta -->
    <meta name="description" content="feedback managment system.">
    <meta name="author" content="feedback">

    <title>Create Category</title>

    <!-- vendor css -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="~/Content/lib/jquery-toggles/css/toggles-full.css" rel="stylesheet">
    <link href="~/Content/lib/jt.timepicker/css/jquery.timepicker.css" rel="stylesheet">
    <link href="~/Content/lib/spectrum/css/spectrum.css" rel="stylesheet">
    <link href="~/Content/lib/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Feadback CSS -->
    <link rel="stylesheet" href="~/Content/css/slim.css">

</head>

<body>
   @Html.Partial("_AdminMenu")
    <!-- slim-navbar -->

    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create Employer Type</li>
                </ol>
                <h6 class="slim-pagetitle">Create Employer Type</h6>
            </div>
            <!-- slim-pageheader -->

            <div class="section-wrapper">
                <label class="section-title">Creating Employer Type</label>
                <p class="mg-b-20 mg-sm-b-40"></p>


                <label class="section-title">Admin / Employer Type</label>
                @using (Html.BeginForm())
                {

                    if (ViewBag.Status == "Update")
                    {
                        @Html.HiddenFor(x => x.employerType.Id)
                    }

                    @Html.ValidationSummary()
                    @Html.AntiForgeryToken()

                    <div class="form-layout">
                        <div class="row mg-b-25">

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Employer Type: <span class="tx-danger">*</span></label>
                                    @Html.TextBoxFor(x => x.employerType.name, new { @class = "form-control", placeholder = "Enter Employer Type", Required = "true" })

                                </div>
                            </div>
                            <!-- col-4 -->
                            <!-- col-4 -->
                        </div>
                        <!-- row -->
                        <!-- form-layout-footer -->
                    </div>




                    <div class="form-layout">

                        <!-- row -->

                        <div class="form-layout-footer">
                            <button class="btn btn-primary bd-0">@ViewBag.Status</button>
                            <button class="btn btn-secondary bd-0">@Resources.Resource.Cancel</button>
                        </div>
                        <!-- form-layout-footer -->
                    </div>

                }
            </div>

            <div class="row row-xs mg-t-10">
                <div class="col-lg-12">
                    <div class="card card-table">
                        <div class="card-header">
                            <h6 class="slim-card-title">Employer Type List</h6>
                        </div>
                        <!-- card-header -->
                        <div class="table-responsive">
                            <table class="table mg-b-0 tx-13">
                                <thead>
                                    <tr class="tx-10">
                                        <th class="wd-10p pd-y-5">S.No</th>
                                        <th class="pd-y-5">@Resources.Resource.Name</th>
                                        <th class="pd-y-5">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.employerTypes.Select((x, i) => new { Data = x, Index = i }))
                                    {
                                            <tr>
                                                <td class="pd-l-20">
                                                    @(item.Index+1)
                                                </td>
                                                <td>
                                                    <a href="default.htm" class="tx-inverse tx-14 tx-medium d-block">@item.Data.name</a>

                                                </td>
                                                <td class="tx-12">
                                                    <a href="@Url.Action("edit",new {id = item.Data.Id })"> <i class="fa fa-edit"> </i> </a>
                                                    <a href="@Url.Action("Delete",new {id = item.Data.Id })"> <i class="fa fa-trash"> </i> </a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                            </table>
                        </div>
                        <!-- table-responsive -->


                       
                        <!-- pagination-wrapper -->



                    </div>
                    <!-- card -->
                </div>
                <!-- col-6 -->

            </div>
            <!-- container -->
        </div>
        <!-- slim-mainpanel -->

      @Html.Partial("_AdminFooter")
</body>

</html>


