<script>


   
    $(document).ready(function () {

        var menu = ["feedback", "openticket", "resolvedticket", "assignedticket",
            "respondedticket", "closedticket", "rejectedticket"
        ];

        var users = ["Create", "HR", "Department"];

        var reports = ["charts"];

        var chat = ["HRChat"];

        var url = window.location.href;
        var page = new Array();
        var page = url.split("/");
        console.log(page[page.length - 1])
        var last = page[page.length - 1];


        //$.each(menu, function (index, value) {
        //    console.log(value);

        //    if (last == value) {
        //        console.log($(".nav").find('.active').eq(0));
        //        $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
        //        $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
        //        $(".nav").find('.nav-item').eq(3).attr("class", "nav-item  with-sub");
        //        console.log($(".nav").find('.nav-item').eq(2).attr("class", "nav-item active with-sub"));
              

        //    }
        //});



        $.each(users, function (index, value) {
            console.log(value);

            if (last == value) {
                console.log($(".nav").find('.active').eq(0));
              
                $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
                $(".nav").find('.nav-item').eq(2).attr("class", "nav-item with-sub");
                console.log($(".nav").find('.nav-item').eq(3).attr("class", "nav-item active with-sub"));
                

            }
        });

        //$.each(chat, function (index, value) {
        //    console.log(value);

        //    if (last == value) {
        //        console.log($(".nav").find('.active').eq(0));
        //        $(".nav").find('.nav-item').eq(0).attr("class", "nav-item");
        //        $(".nav").find('.nav-item').eq(1).attr("class", "nav-item");
        //        console.log($(".nav").find('.nav-item').eq(2).attr("class", "nav-item "));


        //    }
        //});



    });

</script>

<div class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <h2 class="slim-logo"><a href="/Admin/Dashboard"><img  src="~/Content/img/m_logo.png"  width="70px"/></a></h2>

           
            <!-- search-box -->
        </div>
        <!-- slim-header-left -->
        <div class="slim-header-right">

            <!-- dropdown -->
            <div class="dropdown dropdown-c">

                <a href="#" class="logged-user" data-toggle="dropdown">
                    <span>Translation</span>
                    <i class="fa fa-angle-down"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <nav class="nav">
                        <a href="page-profile.html" class="nav-link"><i class="icon fa fa-language"></i> Eng</a>
                        <a href="page-edit-profile.html" class="nav-link"><i class="icon fa fa-language"></i> Arabic</a>
                    </nav>
                </div>
                <!--<a href="#" class="logged-user">
        <select class="form-control" style="border-radius: 4px;">
          <option> Eng</option>
          <option> Arabic</option>
        </select>
        </a>-->

            </div>
            <!-- dropdown -->
            <div class="dropdown dropdown-c">
                <a href="#" class="logged-user" data-toggle="dropdown">
                    <img src="~/Content/img/boss.png" alt="">
                    <span>Administrator</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <nav class="nav">
                        <!--    <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                <a href="../userprofile/index" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>-->
                        <a href="@Url.Action("index","DownloadAPK")" class="nav-link"><i class="icon ion-ios-bolt"></i> Download APK</a>

                        <!--   <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>-->

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="username" value="@System.Web.HttpContext.Current.User.Identity.Name" />
                            <a href="#" class="nav-link">

                                <i class="icon ion-forward"></i><input class="nav-link" style="background: transparent;
               text-decoration: none;
               cursor: pointer; border:none;" type="submit" value="Sign Out" />
                            </a>


                        }
                    </nav>
                </div>
                <!-- dropdown-menu -->
            </div>
            <!-- dropdown -->
        </div>
        <!-- header-right -->
    </div>
    <!-- container -->
</div>
<!-- slim-header -->
<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li class="nav-item  active">
                <a class="nav-link" href="/Admin/Dashboard">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>Dashboard</span>
                </a>

                <!-- sub-item -->
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/Admin/charts">
                    <i class="icon ion-document-text"></i>
                    <span>Reports</span>
                </a>

                <!-- sub-item -->
            </li>


            <li class="nav-item with-sub ">
                <a class="nav-link" href="#" data-toggle="dropdown">
                    <i class="icon ion-ios-gear-outline"></i>
                    <span>Menu</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li class="active">@Html.ActionLink("Categories", "Create", "Categories")</a></li>
                        <li>@Html.ActionLink("SubCategories", "Create", "SubCategories")</a></li>
                        <li> @Html.ActionLink("Location", "Create", "Locations")</li>
                        <li>@Html.ActionLink("Sub Location", "Create", "SubLocations")</li>
                        <li>@Html.ActionLink("Nationality", "Create", "Nationalities")</li>
                        <li>@Html.ActionLink("Position", "Create", "Positions")</li>
                        <li>@Html.ActionLink(@Resources.Resource.Priority, "Create", "Priorities")</li>
                        <li>@Html.ActionLink("Job Title", "Create", "JobTitles")</li>
                        <li>@Html.ActionLink("Department", "Create", "Departments")</li>
                        <li>@Html.ActionLink("Pay Scale Type", "Create", "PayScaleTypes")</li>
                        <li>@Html.ActionLink("Religion", "Create", "Religions")</li>
                        <li>@Html.ActionLink("Event Reason", "Create", "EventReasons")</li>
                        <li>@Html.ActionLink("Employee Class", "Create", "EmployeeClasses")</li>
                        <li>@Html.ActionLink("Ethnicity", "Create", "Ethnicities")</li>
                        <li>@Html.ActionLink("Gender", "Create", "Genders")</li>
                        <li>@Html.ActionLink("EmployerType", "Create", "EmployerTypes")</li>
                        <li>@Html.ActionLink("Vendor", "Create", "Genders")</li>
                        <li>@Html.ActionLink("Band", "Create", "Bands")</li>

                    </ul>
                </div>
                <!-- dropdown-menu -->
            </li>
            <li class="nav-item with-sub ">
                <a class="nav-link" href="#" data-toggle="dropdown">
                    <i class="icon ion-ios-person-outline"></i>
                    <span>Users</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li class="active">@Html.ActionLink("Add ICRM Agent", "AddUser", "Admin", new { id = "HR" }, null)</a></li>
                        <li>@Html.ActionLink("Add Department", "AddUser", "Admin", new { id = "Department" }, null)</a></li>
                        <li>@Html.ActionLink("List Users", "ListUser", "Admin")</li>

                    </ul>
                </div>
                <!-- dropdown-menu -->
            </li>
        </ul>
    </div>
    <!-- container -->
</div>
<!-- slim-navbar -->