@using icrm.Models;
@{
    var data = (ApplicationUser)ViewData["user"];
}
<div class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <h2 class="slim-logo"><a  href="/Department/DashBoard"><img src="~/Content/img/m_logo.png" width="70px" /></a></h2>

           
            <!-- search-box -->
        </div>
        <!-- slim-header-left -->
        <div class="slim-header-right">
            <!-- dropdown -->
            <div class="dropdown dropdown-c">

                <a href="#" class="logged-user" data-toggle="dropdown">
                    <span>@Resources.Resource.Choose_Language</span>
                    <i class="fa fa-angle-down"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <nav class="nav">
                       
                                @Html.ActionLink("English", "SetenglishCulture/Dashboard/Department", "Culture")
                               @Html.ActionLink("Arabic", "SetarabicCulture/Dashboard/Department", "Culture")
                              
                    </nav>
                </div>
                <!--<a href="#" class="logged-user">
        <select class="form-control" style="border-radius: 4px;">
          <option> Eng</option>
          <option> Arabic</option>
        </select>
        </a>-->

            </div>
            <!-- dropdown -->
            <div class="dropdown dropdown-c">
                <a href="#" class="logged-user" data-toggle="dropdown">
                    <img src="~/Content/img/boss.png" alt="">
                    <span>@data.Email</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <nav class="nav">
                        <!-- <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                <a href="../userprofile/index" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>-->
                        <a href="@Url.Action("index","DownloadAPK")" class="nav-link"><i class="icon ion-ios-bolt"></i> @Resources.Resource.Download_APK</a>

                        <!--   <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>-->
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="username" value="@System.Web.HttpContext.Current.User.Identity.Name" />
                            <a href="#" class="nav-link">

                                <i class="icon ion-forward"></i><input class="nav-link" style="background: transparent;
    text-decoration: none;
    cursor: pointer; border:none;" type="submit" value="@Resources.Resource.Sign_Out" />
                            </a>


                        }


                    </nav>
                </div>
                <!-- dropdown-menu -->
            </div>
            <!-- dropdown -->
        </div>
        <!-- header-right -->
    </div>
    <!-- container -->
</div>
<!-- slim-header -->

<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li class="nav-item  active">
                <a class="nav-link" href="/Department/DashBoard">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>@Resources.Resource.Dashboard</span>
                </a>

                <!-- sub-item -->
            </li>


            <li class="nav-item with-sub ">
                <a class="nav-link" href="#" data-toggle="dropdown">
                    <i class="icon ion-ios-gear-outline"></i>
                    <span>@Resources.Resource.Menu</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li class="active">@Html.ActionLink(Resources.Resource.Open_Tickets, "openall", "Department")</li>
                       
                        <li>@Html.ActionLink(Resources.Resource.Responded_Complaints, "responded", "Department")</li>
                        
                       
                    </ul>
                </div>
                <!-- dropdown-menu -->
            </li>
           
        </ul>
    </div>
    <!-- container -->
</div>