@using icrm.Models;

@{
    var data = (ApplicationUser)ViewData["user"];
    ApplicationUser user = (ApplicationUser)Session["user"];
}
<div class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <h2 class="slim-logo"><a href="/HR/DashBoard"><img src="~/Content/img/m_logo.png" width="70px" /></a></h2>

           
            <!-- search-box -->
        </div>
        <!-- slim-header-left -->
        <div class="slim-header-right">
            <a style="margin-bottom: 5px;">Available for Chat &nbsp; &nbsp; &nbsp;</a>

            <div class="dropdown dropdown-a">
                <a href="#" class="">
                    <div class="toggle-wrapper" id="chattoggle">
                        <div class="toggle toggle-light danger"></div>
                    </div>
                </a>
            </div>
            <div class="dropdown dropdown-b">
                <a href="default.htm" class="header-notification" data-toggle="dropdown">
                    <i class="icon ion-ios-bell-outline" id="bellicon"></i>
                    <span class="bello"  id="notifyCount">0</span>
                </a>
                <div class="dropdown-menu">
                    <div class="dropdown-menu-header">
                        <h6 class="dropdown-menu-title">Notifications</h6>
                    </div>
                    <!-- dropdown-menu-header -->
                    <div class="dropdown-list" id="notificationlist">
                        <!-- loop starts here -->
                        
                    </div>
                    <!-- dropdown-list -->
                </div>
                <!-- dropdown-menu-right -->
            </div>
            <!-- dropdown -->
            <div class="dropdown dropdown-c">
                <a href="#" class="logged-user" data-toggle="dropdown">
                    <img src="~/Content/img/boss.png" alt="">
                    <span>@user.UserName</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <nav class="nav">
                        <!-- <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
    <a href="@Url.Action("index","userprofile")" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>-->
                        <a href="@Url.Action("index","DownloadAPK")" class="nav-link"><i class="icon ion-ios-bolt"></i> Download APK</a>


                        <!--  <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>-->
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="username" value="@System.Web.HttpContext.Current.User.Identity.Name" />
                            <a href="#" class="nav-link">

                                <i class="icon ion-forward"></i><input class="nav-link" style="background: transparent;
    text-decoration: none;
    cursor: pointer; border:none;" type="submit" value="Sign Out" />
                            </a>


                        }

                    </nav>
     </div>
     <!-- dropdown-menu -->
</div>

            
                        
            <!-- dropdown -->
        </div>
        <!-- header-right -->
    </div>
    <!-- container -->
</div>
<!-- slim-header -->

<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li class="nav-item  active">
                <a class="nav-link" href="/HR/DashBoard">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>Dashboard</span>
                </a>

                <!-- sub-item -->
            </li>


            <li class="nav-item ">
                <a class="nav-link" href="/HR/charts">

                    <i class="icon ion-document-text"></i>
                    <span>Report</span>
                </a>

                <!-- sub-item -->
            </li>


            <li class="nav-item with-sub ">
                <a class="nav-link" href="#" data-toggle="dropdown">
                    <i class="icon ion-ios-gear-outline"></i>
                    <span>Menu</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li class="active">@Html.ActionLink("Create Ticket", "Create", "HR")</li>

                        <li class="active">@Html.ActionLink(Resources.Resource.Open_Tickets, "openAll", "HR", new { id = "openticket" }, null)</li>
                        <li>@Html.ActionLink(Resources.Resource.Resolved_Complaints, "resolved", "HR", new { id = "resolvedticket" }, null)</li>
                        <li>@Html.ActionLink(Resources.Resource.Assigned_Complaints, "assigned", "HR", new { id = "assignedticket" }, null)</li>
                        <li>@Html.ActionLink(Resources.Resource.Responded_Complaints, "responded", "HR", new { id = "respondedticket" }, null)</li>
                        <li>@Html.ActionLink(Resources.Resource.Closed_Complaints, "Closed", "HR", new { id = "closedticket" }, null)</li>
                        <li>@Html.ActionLink("Rejected Tickets", "Rejected", "HR", new { id = "rejectedticket" }, null)</li>
                        <li>@Html.ActionLink(Resources.Resource.Inquiries, "tickets", "HR", new { typeId = "Enquiry" }, null)</li>
                        <li>@Html.ActionLink(Resources.Resource.Suggestions, "tickets", "HR", new { typeId = "Suggestion" }, null)</li>
                        <li>@Html.ActionLink("Complaints", "tickets", "HR", new { typeId = "Complaint" }, null)</li>
                        <li>@Html.ActionLink("Appreciations", "tickets", "HR", new { typeId = "Appreciation" }, null)</li>
                    </ul>
                </div>
                <!-- dropdown-menu -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Chat/HRChat">
                    <i class="icon ion-ios-chatboxes-outline"></i>
                    <span>Chat</span>
                </a>
                <div class="sub-item">

                </div>
                <!-- dropdown-menu -->
            </li>
        </ul>
    </div>
    <!-- container -->
</div>