@using icrm.Models;
@{
    var data = (ApplicationUser)ViewData["user"];
}
<div class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <h2 class="slim-logo"><a href="/HR/DashBoard"><img src="~/Content/img/m_logo.png" width="60px" /></a></h2>

           
            <!-- search-box -->
        </div>
        <!-- slim-header-left -->
        <div class="slim-header-right">
            
            <!-- dropdown -->
            <div class="dropdown dropdown-c">
                <a href="#" class="logged-user" data-toggle="dropdown">
                    <img src="../img/img1.jpg" alt="">
                    <span>@data.Email</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <nav class="nav">
                        <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                        <a href="@Url.Action("index","userprofile")" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                       
                        <a href="page-activity.html" class="nav-link"><i class="icon ion-ios-bolt"></i> Activity Log</a>
                        <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="username" value="@System.Web.HttpContext.Current.User.Identity.Name" />
                            <input class="icon ion-forward" type="submit" value="Sign Out" />
                        }

                    </nav>
                </div>
                <!-- dropdown-menu -->
            </div>
            <!-- dropdown -->
        </div>
        <!-- header-right -->
    </div>
    <!-- container -->
</div>
<!-- slim-header -->

<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li class="nav-item  active">
                <a class="nav-link" href="/HR/DashBoard">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>Dashboard</span>
                </a>

                <!-- sub-item -->
            </li>


            <li class="nav-item with-sub ">
                <a class="nav-link" href="#" data-toggle="dropdown">
                    <i class="icon ion-ios-gear-outline"></i>
                    <span>Menu</span>
                </a>
                <div class="sub-item">
                    <ul>
                        <li class="active">@Html.ActionLink("Create Ticket", "Create", "HR")</li>
                        <li class="active">@Html.ActionLink("Open Tickets", "open", "HR", new { id = "openticket" }, null)</li>
                        <li>@Html.ActionLink("Resolved Tickets", "resolved", "HR", new { id = "resolvedticket" }, null)</li>
                        <li>@Html.ActionLink("Assigned Tickets", "assigned", "HR", new { id = "assignedticket" }, null)</li>
                        <li>@Html.ActionLink("Responded Tickets", "responded", "HR", new { id = "respondedticket" }, null)</li>
                        <li>@Html.ActionLink("Closed Tickets", "Closed", "HR", new { id = "closedticket" }, null)</li>

                    </ul>
                </div>
                <!-- dropdown-menu -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" >
                    <i class="icon ion-ios-chatboxes-outline"></i>
                    <span>Chat</span>
                </a>
                <div class="sub-item">
                   
                </div>
                <!-- dropdown-menu -->
            </li>
        </ul>
    </div>
    <!-- container -->
</div>