@using icrm.Models
@model LoginViewModel
@{
    Layout = null;
}

<h2>@ViewBag.Title.</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="feedback managment system.">
    <meta name="author" content="feedback">

    <title>Feedback</title>

    <!-- Vendor css -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

    <!-- Slim CSS -->

    <link rel="stylesheet" href="~/Content/css/slim.css">

</head>
<body>

    <div class="signin-wrapper">
         @Html.ValidationSummary()
        <div class="signin-box">
            <h2 class="slim-logo"><a href="index.html">Feedback<span>.</span></a></h2>
            <h2 class="signin-title-primary">Welcome back!</h2>
            <h3 class="signin-title-secondary">Sign in to continue.</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Enter your email" })

                </div><!-- form-group -->
                <div class="form-group mg-b-50">
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Enter your password" })

                </div><!-- form-group -->
                <button class="btn btn-primary btn-block btn-signin">Sign In</button>
                <p class="mg-b-0">Don't have an account?  @Html.ActionLink("Sign Up", "Register")</p>
            }
        </div><!-- signin-box -->

    </div><!-- signin-wrapper -->

    <script src="~/Content/lib/jquery/js/jquery.js"></script>
    <script src="~/Content/lib/popper.js/js/popper.js"></script>
    <script src="~/Content/lib/bootstrap/js/bootstrap.js"></script>

    <script src="~/Content/js/slim.js"></script>

</body>
</html>

