
@model icrm.Models.EscalationUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Meta -->
    <meta name="description" content="feedback managment system.">
    <meta name="author" content="feedback">

    <title>Create Category</title>

    <!-- vendor css -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="~/Content/lib/jquery-toggles/css/toggles-full.css" rel="stylesheet">
    <link href="~/Content/lib/jt.timepicker/css/jquery.timepicker.css" rel="stylesheet">
    <link href="~/Content/lib/spectrum/css/spectrum.css" rel="stylesheet">
    <link href="~/Content/lib/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="~/Content/css/selectize.default.min.css" rel="stylesheet">
    


    <!-- Feadback CSS -->
    <link rel="stylesheet" href="~/Content/css/slim.css">

</head>

<body>
   @Html.Partial("_AdminMenu")
    <!-- slim-navbar -->

    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">@Resources.Resource.Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create @Resources.Resource.Escalation_Users</li>
                </ol>
                <h6 class="slim-pagetitle">@Resources.Resource.Escalation_Users</h6>
            </div>
            <!-- slim-pageheader -->

            <div class="section-wrapper">
                <label class="section-title">@Resources.Resource.Escalation_Users</label>
                <p class="mg-b-20 mg-sm-b-40"></p>


                <label class="section-title">@Resources.Resource.Admin / @Resources.Resource.Escalation_Users</label>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary()
                    @Html.AntiForgeryToken()

                    if (ViewBag.Status == "Update")
                    {
                        @Html.HiddenFor(x => x.EscalationUser.Id)
                    }

                    <div class="form-layout">
                        <div class="row mg-b-25">

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">@Resources.Resource.Department <span class="tx-danger">*</span></label>
                                    @Html.DropDownListFor(m => m.EscalationUser.DepartmentId,
                                       new SelectList(ViewBag.DepartmentList,
                                          "Id", "name"),"Choose Department", new { @class = "form-control select2", @id="department", required="required"})


                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">@Resources.Resource.Category <span class="tx-danger">*</span></label>
                                    @*@Html.DropDownListFor(m => m.EscalationUser.CategoriesIds,
                new SelectList(ViewBag.Categories,
                   "Id", "name"),"Choose Categories", new { @class = "form-control select2",Multiple ="multiple"})*@

                                    <select id="category" name="EscalationUser.CategoriesIds" class="form-control select2" multiple>
                                        <option value="">Select category</option>

                                        @if (ViewBag.Status == "Update" || ViewBag.Status == "Delete")
                                        {
                                            foreach (var category in ViewBag.Categories)
                                            {
                                                if (Model.EscalationUser.CategoriesIds.Any(p => p == category.Id))
                                                {
                                                    <option selected value="@category.Id">@category.name</option>
                                                }
                                                else
                                                {
                                                    <option value="@category.Id">@category.name</option>
                                                }
                                            }
                                        }



                                    </select>


                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Store Name<span class="tx-danger"></span></label>


                                    @Html.DropDownListFor(m => m.EscalationUser.CostCenterId,
                                        new SelectList(ViewBag.CostCenterList,
                                           "Id", "name"),"Choose Cost Center", new { @class = "form-control select2 user"})
                                </div>
                            </div>


                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">First @Resources.Resource.Escalation_Users <span class="tx-danger">*</span></label>
                                    @Html.DropDownListFor(m => m.EscalationUser.firstEscalationUserId,
                                       new SelectList(ViewBag.UserList,
                                          "Id", "EmployeeId"),"Choose First Escalation User", new { @class = "form-control select2 user", required= "required"})


                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Second @Resources.Resource.Escalation_Users <span class="tx-danger">*</span></label>
                                    @Html.DropDownListFor(m => m.EscalationUser.secondEscalationUserId,
                                       new SelectList(ViewBag.UserList,
                                          "Id", "EmployeeId"), "Choose Second Escalation User", new { @class = "form-control select2 user", required = "required" })


                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Third @Resources.Resource.Escalation_Users <span class="tx-danger">*</span></label>
                                    @Html.DropDownListFor(m => m.EscalationUser.thirdEscalationUserId,
                                       new SelectList(ViewBag.UserList,
                                          "Id", "EmployeeId"), "Choose Third Escalation User", new { @class = "form-control select2 user", required = "required" })


                                </div>
                            </div>







                            <!-- col-4 -->
                            <!-- col-4 -->
                        </div>
                        <!-- row -->
                        <!-- form-layout-footer -->
                    </div>




                    <div class="form-layout">

                        <!-- row -->

                        <div class="form-layout-footer">
                            <button class="btn btn-primary bd-0">@ViewBag.Status</button>
                            <button class="btn btn-secondary bd-0">@Resources.Resource.Cancel</button>
                        </div>
                        <!-- form-layout-footer -->
                    </div>

                }
            </div>

            <div class="row row-xs mg-t-10">
                <div class="col-lg-12">
                    <div class="card card-table">
                        <div class="card-header">
                            <h6 class="slim-card-title">@Resources.Resource.Escalation_Users List</h6>
                        </div>
                        <!-- card-header -->
                        <div class="table-responsive">
                            <table class="table mg-b-0 tx-13">
                                <thead>
                                    <tr class="tx-10">
                                        <th class="wd-10p pd-y-5">S.No</th>
                                        <th class="pd-y-5">@Resources.Resource.Department</th>
                                        <th class="pd-y-5">Cost Center Name</th>
                                        <th class="pd-y-5">First @Resources.Resource.Escalation_Users</th>
                                        <th class="pd-y-5">Second @Resources.Resource.Escalation_Users</th>
                                        <th class="pd-y-5">Third @Resources.Resource.Escalation_Users</th>
                                        <th class="pd-y-5">@Resources.Resource.Action</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.EscalationUsers)
                                    {
                                    <tr>
                                        <td class="pd-l-20">
                                            1
                                        </td>
                                        <td>
                                            <a href="default.htm" class="tx-inverse tx-14 tx-medium d-block">@item.Department.name</a>

                                        </td>

                                        <td>
                                            @if(@item.CostCenterId == null){
                                              <a href="default.htm" class="tx-inverse tx-14 tx-medium d-block">Not Availible</a>
                                            }
                                            else{
                                              <a href="default.htm" class="tx-inverse tx-14 tx-medium d-block">@item.CostCenter.name</a>
                                            }
                                            

                                        </td>



                                        <td>
                                            <a href="default.htm" class="tx-inverse tx-14 tx-medium d-block">
                                                @item.firstEscalationUser.FirstName
                                            </a>

                                        </td>

                                        <td>
                                            <a href="default.htm" class="tx-inverse tx-14 tx-medium d-block">
                                                @item.secondEscalationUser.FirstName
                                            </a>

                                        </td>

                                        <td>
                                            <a href="default.htm" class="tx-inverse tx-14 tx-medium d-block">
                                                @item.thirdEscalationUser.FirstName
                                            </a>

                                        </td>
                                        <td class="tx-12">
                                            <a href="@Url.Action("edit",new {id = item.Id })"> <i class="fa fa-edit"> </i> </a>
                                            <a href="@Url.Action("Delete",new {id = item.Id })"> <i class="fa fa-trash"> </i> </a>

                                        </td>
                                    </tr>
                                            }
                                    </tbody>
                            </table>
                        </div>
                        <!-- table-responsive -->


                       
                        <!-- pagination-wrapper -->



                    </div>
                    <!-- card -->
                </div>
                <!-- col-6 -->

            </div>
            <!-- container -->
        </div>
        <!-- slim-mainpanel -->

      @Html.Partial("_AdminFooter")
        <script>
            $('.user').selectize({
               
                sortField: 'text'
            });


            $("#department").change(function () {
               
                    $("#category option").remove();

                  
                if ($("#department").val() != "") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("getCategories", "EscalationUsers")",
                        contentType: "application/json; charset=utf-8",
                        data: '{"depId":"' + $(this).val() + '"}',
                        dataType: "json",
                        success: function (r) {

                            for (var i = 0; i < r.length; i++) {
                                $('#category').append('<option value="' + r[i].Id + '">' + r[i].name + '</option>');

                            }
                        },
                        error: function (r) {
                            alert("error" + r.responseText);
                        }
                    });
                }
                
            });




        </script>
</body>

</html>


