@using icrm.Models
@model icrm.Models.Feedback

@{
    Layout = null;
}


@{
    var data = (ApplicationUser)ViewData["user"];

    var list = new SelectList(new[]
{
    new { Value = "Open", Name = "Open" },
    new { Value = "Resolved", Name = "Resolved" },
    new { Value = "Closed", Name = "Closed" },
},
"Value", "Name", 1);
    ViewData["list"] = list;

} 
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="feedback managment system.">
    <meta name="author" content="feedback">
    <title>Create Tickets</title>
    <!-- vendor css -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="~/Content/lib/jquery-toggles/css/toggles-full.css" rel="stylesheet">
    <link href="~/Content/lib/jt.timepicker/css/jquery.timepicker.css" rel="stylesheet">
    <link href="~/Content/lib/spectrum/css/spectrum.css" rel="stylesheet">
    <link href="~/Content/lib/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">
    <!-- Feadback CSS -->
    <link rel="stylesheet" href="~/Content/css/slim.css">
</head>
<body>
    @Html.Partial("_HRMenu")
    <!-- slim-navbar -->
    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create Tickets</li>
                </ol>
                <h6 class="slim-pagetitle">CREATE TICKET</h6>
            </div>
            <!-- slim-pageheader -->
            @Html.ValidationSummary()
            @using (Html.BeginForm("Create", "HR", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()
            <div class="section-wrapper">
                <label class="section-title">CREATING TICKETS BY ICRM Agent</label>
                <div class="form-layout">
                    @if (@TempData["MessageSuccess"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong> @TempData["MessageSuccess"]</strong>
                        </div>
                    }
                    @if (@TempData["Message"] != null)
                    {
                        <div class="alert alert-danger mg-b-0" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>@TempData["Message"]</strong>
                        </div>
                    }
                        
                        @Html.HiddenFor(model => model.submittedById, new { @class = "form-control", id = "submittedBy" })



                        <input type="hidden" id="hrdetail" value="@data.Id" />
                        @Html.HiddenFor(model => model.userId, new { @class = "form-control", id = "userID" })
                        @Html.HiddenFor(model => model.assignedBy, new { @class = "form-control" })
                        @Html.HiddenFor(model => model.assignedDate, new { @class = "form-control" })
                        @Html.HiddenFor(model => model.closedDate, new { @class = "form-control" })

                        @if (ViewBag.EmployeeList != null)
                        {
                            <div class="row mg-b-25">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">@Resources.Resource.Employee_Id <span class="tx-danger">*</span></label>
                                        @Html.DropDownListFor(m => m.userId,
        new SelectList(ViewBag.EmployeeList,
        "Id", "EmployeeId"), "Select Employee", new { @class = "form-control select2", id = "empID",required="required" })
                                    </div>
                                </div>
                                <!-- col-4 -->
                                <!-- col-4 -->
                                <!-- col-4 -->
                            </div>
                        }
                        <!-- row -->
                        <!-- form-layout-footer -->

                    </div>


                <div id="OuterDiv" style="display:none;">

                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@Resources.Resource.Name <span class="tx-danger">*</span></label>
                                @Html.TextBox("EmpName","", new { @readonly = "readonly", @class = "form-control", id="EmpName"})
                            </div>
                        </div>
                        <!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Badge No: <span class="tx-danger">*</span></label>
                                @Html.TextBox("EmpBatchNo","", new { @readonly = "readonly", @class = "form-control", id="EmpBatch" })
                            </div>
                        </div>
                        <!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@Resources.Resource.Email_Id <span class="tx-danger">*</span></label>
                                @Html.TextBox("EmpEmail","", new { @readonly = "readonly", @class = "form-control", id="EmpEmail" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@Resources.Resource.Phone_No <span class="tx-danger">*</span></label>
                                @Html.TextBox("EmpPNo","", new { @readonly = "readonly", @class = "form-control", id="EmpPNo" })
                            </div>
                        </div>
                        <!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Location:<span class="tx-danger">*</span></label>
                                @Html.TextBox("EmpLocation","", new { @readonly = "readonly", @class = "form-control", id= "EmpLocation" })

                            </div>
                        </div>
                        <!-- col-4 -->
                      <!--  <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Sub Location: <span class="tx-danger">*</span></label>
                                @**   @Html.TextBox("EmpSubLocation", "", new { @readonly = "readonly", @class = "form-control", id = "EmpSubLocation" })
                                **@
                            </div>
                        </div>-->

                        <!-- col-4 -->
                        <!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">JobTitle: <span class="tx-danger">*</span></label>
                                @Html.TextBox("EmpPosition","", new { @readonly = "readonly", @class = "form-control", id= "EmpPosition" })

                            </div>
                        </div>
                        <!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Nationality: <span class="tx-danger">*</span></label>
                                @Html.TextBox("EmpNationality","", new { @readonly = "readonly", @class = "form-control", id="EmpNationality" })

                            </div>
                        </div>
                        <!-- col-4 -->
                        <!-- col-4 -->
                    </div>

                </div>



                <label class="section-title">@Resources.Resource.Feedback_Complaint</label>


                <div class="form-layout">
                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@Resources.Resource.Type <span class="tx-danger">*</span></label>
                                @Html.DropDownListFor(model => model.typeId,
  new SelectList(ViewBag.typeList, "Id", "name"), "Choose", new { @class = "form-control select2", id="typeofFeedback",required="required" })


                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@Resources.Resource.Title<span class="tx-danger">*</span></label>
                                @Html.TextBoxFor(model => model.title, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">@Resources.Resource.Description <span class="tx-danger">*</span></label>
                                @Html.TextAreaFor(model => model.description, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Department: <span class="tx-danger">*</span></label>
                                @Html.DropDownListFor(m => m.departmentID,
                      new SelectList(ViewBag.Departmn,
                    "Id", "name"), "Choose Department", new { @class = "form-control select2",id="deptId" })
                            </div>
                        </div>
                        <!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Category: <span class="tx-danger">*</span></label>
                                <select id="category" class="form-control select2" name="categoryId">
                                    <option value="">Choose Category</option>

                                </select>
                                @** @Html.DropDownListFor(m => m.categoryId,
                  new SelectList(ViewBag.Categories,
                "Id", "name"), "Choose Category", new { @class = "form-control select2",id="category" })*@
                            </div>
                        </div>




                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Sub Category: <span class="tx-danger">*</span></label>
                                <select id="subcategory" class="form-control select2" name="subcategoryId">
                                    <option value="">Choose Sub Category</option>

                                </select>

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@Resources.Resource.Priority <span class="tx-danger">*</span></label>
                                @Html.DropDownListFor(m => m.priorityId,
                       new SelectList(ViewBag.Priorities,
                     "Id", "priorityId"), "Choose Priority", new { @class = "form-control select2",id="priorty", required = "required" })
                            </div>
                        </div>


                        <!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">@Resources.Resource.Email_Id <span class="tx-danger">*</span></label>
                                @Html.DropDownList("emailsss",
                      new SelectList(ViewBag.Emails,
                    "", ""), new { @class = "form-control select2", Multiple = "multiple",name="emailsss" })
                            </div>
                        </div>
                        <!-- col-4 -->
                    </div>
                            <!-- row -->
                            <!-- form-layout-footer -->
                        </div>



                        <label class="section-title">Attachment</label>


                        <div class="form-layout">
                            <div class="row mg-b-25">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label"></label>

                                        <input type="file" name="file">
                                        @Html.ValidationMessageFor(model => model.attachment, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- col-4 -->


                            </div>

                            <div class="row mg-b-25">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Choose Action</label>
                                        @Html.DropDownListFor(m => m.status, new SelectList(ViewBag.Status), new { @class = "form-control", id = "statusfield" })
                                        <label class="text-danger" id="statuscheck"></label>
                                    </div>
                                </div>
                                <!-- col-4 -->
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">@Resources.Resource.Comments</label>
                                        @Html.TextArea("responsee", new { @class = "form-control" ,name="responsee"})


                                    </div>
                                </div>
                            </div>


                            <!-- row -->
                            <div class="form-layout-footer">
                                <button class="btn btn-primary bd-0" name="submitButton" id="forward" value="Forward/Create">Forward/Create</button>
                                <button class="btn btn-primary bd-0" value="Resolve" id="resolve" name="submitButton">@Resources.Resource.Resolve </button>

                            </div>
                            <!-- form-layout-footer -->
                        </div>

                    </div>
            }
            <!-- container -->
        </div>
        </div>
        <!-- slim-mainpanel -->
        <div class="slim-footer">
            <div class="container">
                <p>Copyright 2018 &copy; All Rights Reserved. </p>
            </div>
            <!-- container -->
        </div>
        <!-- slim-footer -->
        <script src="~/Content/lib/jquery/js/jquery.js"></script>
        <script src="~/Content/lib/popper.js/js/popper.js"></script>
        <script src="~/Content/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/Content/lib/jquery.cookie/js/jquery.cookie.js"></script>
        <script src="~/Content/lib/moment/js/moment.js"></script>
        <script src="~/Content/lib/jquery-ui/js/jquery-ui.js"></script>
        <script src="~/Content/lib/jquery-toggles/js/toggles.min.js"></script>
        <script src="~/Content/lib/jt.timepicker/js/jquery.timepicker.js"></script>
        <script src="~/Content/lib/spectrum/js/spectrum.js"></script>
        <script src="~/Content/lib/jquery.maskedinput/js/jquery.maskedinput.js"></script>
        <script src="~/Content/lib/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
        <script src="~/Content/js/slim.js"></script>
        <script>
            $("#typeofFeedback").prop('required', true);



            $('#empID').change(function () {

                var id = this.value;
                if (id == "") {
                    $('#OuterDiv').hide();
                    return false;
                } else {
                    $('#OuterDiv').show();
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: '{"id":"' + id + '"}',
                        url: "@Url.Action("getEmpDetails", "HR")",
                        dataType: "json",
                        success: function (response) {
                           
                            $('#EmpPosition').val(response.JobTitle.name);
                            $('#EmpNationality').val(response.Nationality.name);
                            $('#EmpName').val(response.UserName);
                            $('#EmpBatch').val(response.EmployeeId);
                            $('#EmpEmail').val(response.Email);
                            $('#EmpPNo').val(response.PhoneNumber);
                            $('#EmpLocation').val(response.Location.name);
                           // $('#EmpSubLocation').val(response.SubLocation.name);
                            

                        },
                        error: function (response) {
                            alert(response.responseText)
                        }

                    })
                }

            });


            $('#forward').click(function () {
                $("#emailsss").prop('required', true);
                if ($('#statusfield').val() == "Resolved") {
                    $('#statuscheck').text("Set status Open/Closed");
                    return false;
                }
                if ($("#typeofFeedback").val()!= "Enquiries"){
                $("#priorty").prop('required', false);
              }else {
                $("#priorty").prop('required', true);
             }
                $("#category").prop('required', true);

            });

            $('#resolve').click(function () {

                if ($('#statusfield').val() == "Resolved") {
                    $("#priorty").prop('required', false);
                    $("#category").prop('required', false);
                    return true;
                }

                else {
                    $('#statuscheck').text("Set status Resolved");
                    $("#priorty").prop('required', false);
                    $("#category").prop('required', false);
                    return false;

                }

            });

            var employeid = $('#empID').val();
            if (employeid == "") {
                var hrdetail = $('#hrdetail').val();
                $('#submittedBy').val(hrdetail);
            }
            $('#empID').change(function () {
                if (this.value == "") {

                    var hrdetail = $('#hrdetail').val();
                    $('#submittedBy').val(hrdetail);
                }
                else {
                    var hrdetail = $('#hrdetail').val();
                    $('#submittedBy').val(hrdetail);
                    $('#userID').val(this.value);
                }
            });

            $(function () {
                'use strict'

                // Toggles
                $('.toggle').toggles({
                    on: true,
                    height: 26
                });

                // Input Masks
                $('#dateMask').mask('99/99/9999');
                $('#phoneMask').mask('(999) 999-9999');
                $('#ssnMask').mask('999-99-9999');

                // Time Picker
                $('#tpBasic').timepicker();
                $('#tp2').timepicker({
                    'scrollDefault': 'now'
                });
                $('#tp3').timepicker();

                $('#setTimeButton').on('click', function () {
                    $('#tp3').timepicker('setTime', new Date());
                });

                // Color picker
                $('#colorpicker').spectrum({
                    color: '#17A2B8'
                });

                $('#showAlpha').spectrum({
                    color: 'rgba(23,162,184,0.5)',
                    showAlpha: true
                });

                $('#showPaletteOnly').spectrum({
                    showPaletteOnly: true,
                    showPalette: true,
                    color: '#DC3545',
                    palette: [
                        ['#1D2939', '#fff', '#0866C6', '#23BF08', '#F49917'],
                        ['#DC3545', '#17A2B8', '#6610F2', '#fa1e81', '#72e7a6']
                    ]
                });

            });

            $(function () {
                'use strict'

                // Datepicker
                $('.fc-datepicker').datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    dateFormat: 'dd-mm-yy'
                });

                $('#datepickerNoOfMonths').datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    numberOfMonths: 2
                });

            });



             $("#deptId").change(function () {
                 $("#category option").remove();

                 $('#category').append('<option value=" ">' + "Choose Category" + '</option>');

                 $("#subcategory option").remove();

                 $('#subcategory').append('<option value=" ">' + "Choose Sub Category" + '</option>');
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("getCategories", "HR")",
                    contentType: "application/json; charset=utf-8",
                    data: '{"depId":"' + $(this).val() + '"}',
                    dataType: "json",
                    success: function (r) {

                        for (var i = 0; i < r.length; i++) {
                            $('#category').append('<option value="' + r[i].Id + '">' + r[i].name + '</option>');

                        }
                    },
                    error: function (r) {
                        alert("error" + r.responseText);
                    }
                });

            });



            $("#category").change(function () {

             

                $("#subcategory option").remove();

                $('#subcategory').append('<option value=" ">' + "Choose Sub Category" + '</option>');
                if( $("#typeofFeedback").val() != "")
            {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("getSubCategories", "HR")",
                    contentType: "application/json; charset=utf-8",
                    data: '{"categoryId":"' + $(this).val() + '","type":"' + $('#typeofFeedback').val() + '"}',
                    dataType: "json",
                    success: function (r) {

                        for (var i = 0; i < r.length; i++) {
                            $('#subcategory').append('<option value="' + r[i].Id + '">' + r[i].name + '</option>');

                        }
                    },
                    error: function (r) {
                        alert("error" + r.responseText);
                    }
                });
            }
            });
            

            $("#typeofFeedback").change(function () {
                $("#deptId").val("");
               // window.location.reload(true);
                $("#category option").remove();

                $('#category').append('<option value=" ">' + "Choose Category" + '</option>');

                $("#subcategory option").remove();

                $('#subcategory').append('<option value=" ">' + "Choose Sub Category" + '</option>');

            });

        </script>
@Html.Partial("_HRFooter")
</body>
</html>
