@using icrm.Models;
@using PagedList;

@using PagedList.Mvc;
@model PagedList.IPagedList<icrm.Models.Feedback>

@{
    ViewBag.Title = "DashBoard";
}

@{
    Layout = null;
}
@{
    var data = (ApplicationUser)ViewData["user"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="feedback managment system.">
    <meta name="author" content="feedback">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon">  
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">

    <title>ICRM 2.0</title>
    <!-- vendor css -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="~/Content/lib/rickshaw/css/rickshaw.min.css" rel="stylesheet">
    <!-- Slim CSS -->
    <link rel="stylesheet" href="~/Content/css/slim.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    

</head>
<body class="dashboard-3">
    @Html.Partial("_DepartmentMenu")
    <!-- slim-navbar -->
    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
                <h6 class="slim-pagetitle">@Resources.Resource.Welcome_back, DEPARTMENT</h6>
            </div>
            <!-- slim-pageheader -->
            <div class="row row-xs">
                <div class="col-sm-6 col-lg-3">
                    <a href="@Url.Action("alltickets", "Department")">
                        <div class="card card-status">
                            <div class="media">
                                <i class="icon fa fa-bullhorn tx-purple"></i>
                                <div class="media-body">
                                    <h1>@ViewBag.TotalTickets</h1>
                                    <p>All Tickets</p>
                                </div>
                                <!-- media-body -->
                            </div>
                            <!-- media -->
                        </div></a>
                        <!-- card -->
                </div>
                <!-- col-3 -->
                <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
                    <a href="@Url.Action("allopen", "Department")">
                        <div class="card card-status">
                            <div class="media">
                                <i class="icon fa fa-envelope-open tx-teal"></i>
                                <div class="media-body">
                                    <h1>@ViewBag.OpenTickets</h1>
                                    <p>@Resources.Resource.Open_Complaints</p>
                                </div>
                                <!-- media-body -->
                            </div>
                            <!-- media -->
                        </div></a>
                        <!-- card -->
                </div>
                <!-- col-3 -->
                <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                    <a href="@Url.Action("allclosed", "Department")">

                        <div class="card card-status">
                            <div class="media">
                                <i class="icon fa fa-envelope tx-pink"></i>
                                <div class="media-body">
                                    <h1>@ViewBag.ClosedTickets</h1>
                                    <p>@Resources.Resource.Closed_Complaints</p>
                                </div>
                                <!-- media-body -->
                            </div>
                            <!-- media -->
                        </div>
                        </a>
                        <!-- card -->
                </div>
                <!-- col-3 -->
                <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                    <a href="@Url.Action("allresolved", "Department")">


                        <div class="card card-status">
                            <div class="media">
                                <i class="icon fa fa-question-circle tx-yellow"></i>
                                <div class="media-body">
                                    <h1>@ViewBag.ResolvedTickets</h1>
                                    <p>@Resources.Resource.Resolved_Complaints</p>
                                </div>
                                <!-- media-body -->
                            </div>
                            <!-- media -->
                        </div></a>
                        <!-- card -->
                </div>
                <!-- col-3 -->


            </div>
            <!-- row -->

            <br><br>
                <div class="section-wrapper">
                   
                    @if (@TempData["displayMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong> @TempData["displayMsg"]</strong>
                        </div>
                    }
                   
                    <label class="section-title">SEARCH YOUR TICKETS</label>
                    <p class="mg-b-20 mg-sm-b-40">
                        On date criteria


                    </p>
                    <div class="form-layout">

                        @if (@TempData["DateMsg"] != null)
                        {
                            <div class="alert alert-danger mg-b-0" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <strong>@TempData["DateMsg"]</strong>
                            </div>
                        }
                        @using (Html.BeginForm("search", "Department", FormMethod.Get, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            <div class="row mg-b-25">

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">@Resources.Resource.Status <span class="tx-danger">*</span></label>
                                        @Html.DropDownList("status", new SelectList(ViewBag.Status), new { @class = "form-control select2", name = "Status" })

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <label class="form-control-label">From: <span class="tx-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="icon ion-calendar tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control date hasDatepicker" value="@ViewBag.startDate" name="date1" placeholder="MM-DD-YYYY" id="dp1545306018953">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-control-label">To : <span class="tx-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="icon ion-calendar tx-16 lh-0 op-6"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control date hasDatepicker" value="@ViewBag.endDate" name="date22" placeholder="MM-DD-YYYY" id="dp1545306018953">
                                    </div>
                                </div>
                                <!-- col-4 -->
                            </div>

                            <!-- row -->
                            <div class="form-layout-footer">
                                <button class="btn btn-primary bd-0" name="export" value="search">@Resources.Resource.Submit </button>
                                <button class="btn btn-secondary bd-0">@Resources.Resource.Cancel</button>
                            </div>
                        }
                        <!-- form-layout-footer -->
                    </div>

                </div>


            <div class="row row-xs mg-t-10">
                <div class="col-lg-12">
                    <div class="card card-table">
                        <div class="card-header">
                            <h6 class="slim-card-title">Ticket List</h6>
                        </div>
                        <!-- card-header -->
                        <div class="table-responsive">
                            <table class="table mg-b-0 tx-13">
                                <thead>
                                    <tr class="tx-10">
                                        <th class="wd-10p pd-y-5">S.NO</th>
                                        <th class="pd-y-5">TICKET ID</th>
                                        <th class="pd-y-5">@Resources.Resource.Type</th>
                                        <th class="pd-y-5">ACTION</th>
                                        <th class="pd-y-5">@Resources.Resource.Title</th>
                                        <th class="pd-y-5">@Resources.Resource.Status</th>
                                        <th class="pd-y-5">@Resources.Resource.Description</th>
                                        <th class="pd-y-5">@Resources.Resource.Name</th>
                                        <th class="pd-y-5">@Resources.Resource.Email_Id</th>
                                        <th class="pd-y-5">@Resources.Resource.Phone_No</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
                                    {

                                        <tr>
                                            <td class="pd-l-20">

                                                @(item.Index + ((Model.PageNumber - 1) * Model.PageSize) + 1)


                                            </td>
                                            <td>@Html.DisplayFor(modelitem => item.Data.id)</td>
                                            <td>@Html.DisplayFor(modelitem => item.Data.type.name)</td>
                                            <td>
                                                @if (ViewBag.linkName == "openticket")
                                                {
                                                    <a href="@Url.Action("openview", "Department",new {id=item.Data.id })" class="fa fa-edit"></a>
                                                }
                                                @if (ViewBag.linkName == "openlinkticket")
                                                {
                                                    <a href="@Url.Action("openview", "Department",new {id=item.Data.id })" class="fa fa-edit"></a>
                                                }
                                                @if (ViewBag.linkName == "resolvedticket")
                                                {
                                                    <a href="@Url.Action("resolvedview", "Department",new {id=item.Data.id })" class="fa fa-edit"></a>
                                                }
                                                @if (ViewBag.linkName == "respondedticket")
                                                {
                                                    <a href="@Url.Action("respondedview", "Department",new {id=item.Data.id })" class=" fa fa-edit"></a>
                                                }


                                                @if (ViewBag.linkName == "closedticket" || ViewBag.linkName == "alltickets" || ViewBag.linkName == "allopenticket" || ViewBag.linkName == "allclosedticket" || ViewBag.linkName == "allresolvedticket")
                                                {
                                                    <a href="@Url.Action("closedview", "Department",new {id=item.Data.id })" class="fa fa-edit"></a>
                                                }
                                            </td>
                                            <td>

                                                @Html.DisplayFor(modelitem => item.Data.title)

                                            </td>
                                            <td>@Html.DisplayFor(modelitem => item.Data.status)</td>
                                            <td>@Html.DisplayFor(modelitem => item.Data.description)</td>
                                            <td>@Html.DisplayFor(modelitem => item.Data.user.FirstName)</td>
                                            <td>@Html.DisplayFor(modelitem => item.Data.user.Email)</td>
                                            <td>@Html.DisplayFor(modelitem => item.Data.user.PhoneNumber)</td>

                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive -->
                        @if (ViewBag.linkName == "openlinkticket" && ViewBag.Search == null)
                        {
                            <div class="pagination-wrapper">
                                <div id='Paging' style="text-align:center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount
                                    <ul class="pagination pagination-circle mg-b-0">

                                        <li class="page-item ">
                                            @Html.PagedListPager(Model, page => Url.Action("openall", new { page }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-link" } })

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }
                        @if (ViewBag.linkName == "openticket" && ViewBag.Search == null)
                        {
                            <div class="pagination-wrapper">
                                <div id='Paging' style="text-align:center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount
                                    <ul class="pagination pagination-circle mg-b-0">

                                        <li class="page-item ">
                                            @Html.PagedListPager(Model, page => Url.Action("open", new { page }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-link" } })

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }
                        @if (ViewBag.linkName == "openticket" && ViewBag.Search != null)
                        {
                            <div class="pagination-wrapper">
                                <div id='Paging' style="text-align:center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount
                                    <ul class="pagination pagination-circle mg-b-0">

                                        <li class="page-item ">
                                            @Html.PagedListPager(Model, page => Url.Action("search", new { page, status = ViewBag.statuss, date22 = ViewBag.endDate, date1 = ViewBag.startDate, export = "search" }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-link" } })

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }



                        @if (ViewBag.linkName == "resolvedticket" && ViewBag.Search != null)
                        {
                            <div class="pagination-wrapper">
                                <div id='Paging' style="text-align:center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount
                                    <ul class="pagination pagination-circle mg-b-0">

                                        <li class="page-item ">
                                            @Html.PagedListPager(Model, page => Url.Action("search", new { page, status = ViewBag.statuss, date22 = ViewBag.endDate, date1 = ViewBag.startDate, export = "search" }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-link" } })

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }


                        @if (ViewBag.linkName == "respondedticket")
                        {
                            <div class="pagination-wrapper">
                                <div id='Paging' style="text-align:center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount
                                    <ul class="pagination pagination-circle mg-b-0">

                                        <li class="page-item ">
                                            @Html.PagedListPager(Model, page => Url.Action("responded", new { page }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-link" } })

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }




                        @if (ViewBag.linkName == "closedticket" && ViewBag.Search != null)
                        {
                            <div class="pagination-wrapper">
                                <div id='Paging' style="text-align:center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount
                                    <ul class="pagination pagination-circle mg-b-0">

                                        <li class="page-item ">
                                            @Html.PagedListPager(Model, page => Url.Action("search", new { page, status = ViewBag.statuss, date22 = ViewBag.endDate, date1 = ViewBag.startDate, export = "search" }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-link" } })

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }


                        @if (ViewBag.linkName == "alltickets" && ViewBag.Search == null)
                        {
                            <div class="pagination-wrapper">
                                <div id='Paging' style="text-align:center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount
                                    <ul class="pagination pagination-circle mg-b-0">

                                        <li class="page-item ">
                                            @Html.PagedListPager(Model, page => Url.Action("alltickets", new { page }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-link" } })

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }

                        @if (ViewBag.linkName == "allopenticket" && ViewBag.Search == null)
                        {
                            <div class="pagination-wrapper">
                                <div id='Paging' style="text-align:center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount
                                    <ul class="pagination pagination-circle mg-b-0">

                                        <li class="page-item ">
                                            @Html.PagedListPager(Model, page => Url.Action("allopen", new { page }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-link" } })

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }

                        @if (ViewBag.linkName == "allclosedticket" && ViewBag.Search == null)
                        {
                            <div class="pagination-wrapper">
                                <div id='Paging' style="text-align:center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount
                                    <ul class="pagination pagination-circle mg-b-0">

                                        <li class="page-item ">
                                            @Html.PagedListPager(Model, page => Url.Action("allclosed", new { page }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-link" } })

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }
                        @if (ViewBag.linkName == "allresolvedticket" && ViewBag.Search == null)
                        {
                            <div class="pagination-wrapper">
                                <div id='Paging' style="text-align:center">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                    of @Model.PageCount
                                    <ul class="pagination pagination-circle mg-b-0">

                                        <li class="page-item ">
                                            @Html.PagedListPager(Model, page => Url.Action("allresolved", new { page }), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-link" } })

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }
                        <!-- pagination-wrapper -->

                    </div>
                    <!-- card -->
                </div>
                <!-- col-6 -->
            </div>
            <!-- row -->
            <br> <br> <br> <br>
        </div>
        <!-- container -->

    </div>
    <!-- mainpanel -->
    <div class="slim-footer" style="position: fixed;bottom: 0;width: 100%;">
        <div class="container">
            <p>Copyright 2018 &copy; All Rights Reserved.</p>
        </div>
        <!-- container -->
    </div>
    <!--footer -->
    <script src="~/Content/lib/jquery/js/jquery.js"></script>
    <script src="~/Content/lib/popper.js/js/popper.js"></script>
    <script src="~/Content/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="~/Content/lib/d3/js/d3.js"></script>
    <script src="~/Content/lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="~/Content/lib/Flot/js/jquery.flot.js"></script>
    <script src="~/Content/lib/Flot/js/jquery.flot.resize.js"></script>
    <script src="~/Content/lib/peity/js/jquery.peity.js"></script>
    <script src="~/Content/js/slim.js"></script>
    <script src="~/Content/js/ResizeSensor.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $(function () {
            'use strict'

            // Datepicker

            $(".date").flatpickr({
                dateFormat: "d-m-Y"
            });


        });

    </script>
</body>
</html>
